In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [4]:
# Load the dataset
data = pd.read_csv("C:/Users/uday8/Documents/SEM_6/GIS/Project/IndianWeatherRepository.csv")

In [5]:
# Explore the dataset
print(data.head())  # Check the first few rows of the dataset
print(data.info())   # Check data types and missing values

  country location_name          region  latitude  longitude      timezone  \
0   India    Ashoknagar  Madhya Pradesh     24.57      77.72  Asia/Kolkata
1   India        Raisen  Madhya Pradesh     23.33      77.80  Asia/Kolkata
2   India    Chhindwara  Madhya Pradesh     22.07      78.93  Asia/Kolkata
3   India         Betul  Madhya Pradesh     21.86      77.93  Asia/Kolkata
4   India   Hoshangabad  Madhya Pradesh     22.75      77.72  Asia/Kolkata

   last_updated_epoch      last_updated  temperature_celsius  \
0          1693286100  2023-08-29 10:45                 27.5
1          1693286100  2023-08-29 10:45                 27.5
2          1693286100  2023-08-29 10:45                 26.3
3          1693286100  2023-08-29 10:45                 25.6
4          1693286100  2023-08-29 10:45                 27.2

   temperature_fahrenheit  ... air_quality_PM2.5  air_quality_PM10  \
0                    81.5  ...              12.6              18.5
1                    81.5  ...              10.7              14.2
2                    79.3  ...              16.8              20.7
3                    78.1  ...               4.9               6.6
4                    81.0  ...              11.4              14.8

   air_quality_us-epa-index  air_quality_gb-defra-index   sunrise    sunset  \
0                         1                           2  05:59 AM  06:41 PM
1                         1                           1  06:00 AM  06:40 PM
2                         2                           2  05:56 AM  06:34 PM
3                         1                           1  06:00 AM  06:38 PM
4                         1                           1  06:01 AM  06:39 PM

   moonrise   moonset      moon_phase  moon_illumination
0  05:42 PM  03:38 AM  Waxing Gibbous                 93
1  05:39 PM  03:41 AM  Waxing Gibbous                 93
2  05:32 PM  03:39 AM  Waxing Gibbous                 93
3  05:36 PM  03:43 AM  Waxing Gibbous                 93
4  05:38 PM  03:42 AM  Waxing Gibbous                 93

[5 rows x 42 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93168 entries, 0 to 93167
Data columns (total 42 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       93168 non-null  object
 1   location_name                 93168 non-null  object
 2   region                        93168 non-null  object
 3   latitude                      93168 non-null  float64
 4   longitude                     93168 non-null  float64
 5   timezone                      93168 non-null  object
 6   last_updated_epoch            93168 non-null  int64
 7   last_updated                  93168 non-null  object
 8   temperature_celsius           93168 non-null  float64
 9   temperature_fahrenheit        93168 non-null  float64
 10  condition_text                93168 non-null  object
 11  wind_mph                      93168 non-null  float64
 12  wind_kph                      93168 non-null  float64
 13  wind_degree                   93168 non-null  int64
 14  wind_direction                93168 non-null  object
 15  pressure_mb                   93168 non-null  float64
 16  pressure_in                   93168 non-null  float64
 17  precip_mm                     93168 non-null  float64
 18  precip_in                     93168 non-null  float64
 19  humidity                      93168 non-null  int64
 20  cloud                         93168 non-null  int64
 21  feels_like_celsius            93168 non-null  float64
 22  feels_like_fahrenheit         93168 non-null  float64
 23  visibility_km                 93168 non-null  float64
 24  visibility_miles              93168 non-null  float64
 25  uv_index                      93168 non-null  float64
 26  gust_mph                      93168 non-null  float64
 27  gust_kph                      93168 non-null  float64
 28  air_quality_Carbon_Monoxide   93168 non-null  float64
 29  air_quality_Ozone             93168 non-null  float64
 30  air_quality_Nitrogen_dioxide  93168 non-null  float64
 31  air_quality_Sulphur_dioxide   93168 non-null  float64
 32  air_quality_PM2.5             93168 non-null  float64
 33  air_quality_PM10              93168 non-null  float64
 34  air_quality_us-epa-index      93168 non-null  int64
 35  air_quality_gb-defra-index    93168 non-null  int64
 36  sunrise                       93168 non-null  object
 37  sunset                        93168 non-null  object
 38  moonrise                      93168 non-null  object
 39  moonset                       93168 non-null  object
 40  moon_phase                    93168 non-null  object
 41  moon_illumination             93168 non-null  int64
dtypes: float64(23), int64(7), object(12)
memory usage: 29.9+ MB
None

In [6]:
# Drop irrelevant columns if any
data = data.drop(columns=['latitude','longitude','last_updated_epoch','last_updated', 'timezone','wind_mph','wind_kph','wind_degree','wind_direction','pressure_mb','pressure_mb','pressure_in',	'precip_mm',	'precip_in',	'humidity',	'cloud',	'feels_like_celsius',	'feels_like_fahrenheit',	'visibility_km',	'visibility_miles',	'uv_index',	'gust_mph',	'gust_kph',	'air_quality_Carbon_Monoxide',	'air_quality_Ozone',	'air_quality_Nitrogen_dioxide',	'air_quality_Sulphur_dioxide',	'air_quality_PM2.5',	'air_quality_PM10',	'air_quality_us-epa-index',	'air_quality_gb-defra-index',	'sunrise',	'sunset',	'moonrise',	'moonset',	'moon_phase',	'moon_illumination'
])

In [7]:
data

,country,location_name,region,temperature_celsius,temperature_fahrenheit,condition_text
0,India,Ashoknagar,Madhya Pradesh,27.5,81.5,Partly cloudy
1,India,Raisen,Madhya Pradesh,27.5,81.5,Sunny
2,India,Chhindwara,Madhya Pradesh,26.3,79.3,Partly cloudy
3,India,Betul,Madhya Pradesh,25.6,78.1,Cloudy
4,India,Hoshangabad,Madhya Pradesh,27.2,81.0,Cloudy
...,...,...,...,...,...,...
93163,India,Niwari,Uttar Pradesh,19.0,66.2,Mist
93164,India,Saitual,Mizoram,9.7,49.5,Clear
93165,India,Ranipet,Tamil Nadu,20.8,69.4,Clear
93166,India,Tenkasi,Tamil Nadu,29.0,84.2,Mist
93167,India,Pendra,Maharashtra,27.9,82.2,Clear

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93168 entries, 0 to 93167
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 93168 non-null  object
 1   location_name           93168 non-null  object
 2   region                  93168 non-null  object
 3   temperature_celsius     93168 non-null  float64
 4   temperature_fahrenheit  93168 non-null  float64
 5   condition_text          93168 non-null  object
dtypes: float64(2), object(4)
memory usage: 4.3+ MB

In [9]:
# Handle missing values if any
data.dropna(inplace=True)  # Remove rows with missing values
print(data)

      country location_name          region  temperature_celsius  \
0       India    Ashoknagar  Madhya Pradesh                 27.5
1       India        Raisen  Madhya Pradesh                 27.5
2       India    Chhindwara  Madhya Pradesh                 26.3
3       India         Betul  Madhya Pradesh                 25.6
4       India   Hoshangabad  Madhya Pradesh                 27.2
...       ...           ...             ...                  ...
93163   India        Niwari   Uttar Pradesh                 19.0
93164   India       Saitual         Mizoram                  9.7
93165   India       Ranipet      Tamil Nadu                 20.8
93166   India       Tenkasi      Tamil Nadu                 29.0
93167   India        Pendra     Maharashtra                 27.9

       temperature_fahrenheit condition_text
0                        81.5  Partly cloudy
1                        81.5          Sunny
2                        79.3  Partly cloudy
3                        78.1         Cloudy
4                        81.0         Cloudy
...                       ...            ...
93163                    66.2           Mist
93164                    49.5         Clear
93165                    69.4         Clear
93166                    84.2           Mist
93167                    82.2         Clear

[93168 rows x 6 columns]

In [10]:
# Encode categorical variables
label_encoders = {}
categorical_columns = ['country', 'location_name', 'region', 'condition_text']
for column in categorical_columns:
    label_encoders[column] = LabelEncoder()
    data[column] = label_encoders[column].fit_transform(data[column])

In [11]:
# Convert the dictionary to a DataFrame
data_df = pd.DataFrame(data)

# Define the numerical columns
numerical_columns = ['temperature_celsius', 'temperature_fahrenheit']

In [12]:
# Standardize the numerical columns
scaler=StandardScaler()
data_df[numerical_columns] = scaler.fit_transform(data_df[numerical_columns])

In [13]:
# Example data
data ={'condition_text': ['Partly cloudy', 'Sunny	', 'Cloudy', 'Mist', 'Patchy rain possible','Overcast', 'Patchy light rain with thunder']}
df = pd.DataFrame(data)

In [14]:
df

                   condition_text
0                   Partly cloudy
1                         Sunny\t
2                          Cloudy
3                            Mist
4            Patchy rain possible
5                        Overcast
6  Patchy light rain with thunder

In [15]:
# Perform one-hot encoding
one_hot_encoded = pd.get_dummies(df['condition_text'])

In [16]:
# Concatenate the one-hot encoded columns with the original dataframe
data_encoded = pd.concat([df, one_hot_encoded], axis=1)

print(data_encoded)

                   condition_text  Cloudy  Mist  Overcast  Partly cloudy  \
0                   Partly cloudy       0     0         0              1
1                         Sunny\t       0     0         0              0
2                          Cloudy       1     0         0              0
3                            Mist       0     1         0              0
4            Patchy rain possible       0     0         0              0
5                        Overcast       0     0         1              0
6  Patchy light rain with thunder       0     0         0              0

   Patchy light rain with thunder  Patchy rain possible  Sunny\t
0                               0                     0        0
1                               0                     0        1
2                               0                     0        0
3                               0                     0        0
4                               0                     1        0
5                               0                     0        0
6                               1                     0        0

In [17]:
data_encoded.head()

,condition_text,Cloudy,Mist,Overcast,Partly cloudy,Patchy light rain with thunder,Patchy rain possible,Sunny\t
0,Partly cloudy,0,0,0,1,0,0,0
1,Sunny\t,0,0,0,0,0,0,1
2,Cloudy,1,0,0,0,0,0,0
3,Mist,0,1,0,0,0,0,0
4,Patchy rain possible,0,0,0,0,0,1,0

In [18]:
data_encoded.columns

Index(['condition_text', 'Cloudy', 'Mist', 'Overcast', 'Partly cloudy',
       'Patchy light rain with thunder', 'Patchy rain possible', 'Sunny\t'],
      dtype='object')

In [20]:
# Define features and target variable
features = [ '','country', 'location_name', 'region','temperature_celsius', 'temperature_fahrenheit']
target = 'condition_text'

X = data_encoded[features]
y = data_encoded[target]

SyntaxError: invalid syntax (1075358327.py, line 2)

In [ ]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=True)

In [ ]:
# Initialize and train the model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

In [ ]:
# Make predictions
y_pred = model.predict(X_test)

In [ ]:
# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

In [ ]:
# Create a confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Visualize the confusion matrix
plt.figure(figsize=(8, 6))
sns.heatmap(cm, annot=True, fmt="d", cmap="Blues", cbar=False)
plt.xlabel('Predicted labels')
plt.ylabel('True labels')
plt.title('Confusion Matrix')
plt.show()